*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #ececec;
    text-align: center;
}
.login-form{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 450px;
    border-radius: 10px;
    background: #ececec;
    box-shadow: 10px 10px 15px #c7c4c4, -10px -10px #fff;
    padding: 30px;
}
.login-form img{
    width: 100px;
    height: 100px;
    border-radius: 70px;
    box-shadow: 6px 6px 12px #c7c4c4, -6px -6px 12px #fff;
}
.login-form h1{
    font-size: 36px;
    color: #999;
    margin-top: 5px;
}

.login-form input{
    width: 100%;
    margin-bottom: 30px;
    padding: 20px 25px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    background: #ececec;
    box-shadow: inset 10px 10px 15px #c7c4c4, inset -10px -10px 15px #fff;
}
.login-form button{
    width: 100%;
    margin-bottom: 30px;
    padding: 20px 0;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    color: #999;
    background: #ececec;
    box-shadow: 10px 10px 15px #c7c4c4, -10px -10px 15px #fff;
    transition: 0.3s;
}
.login-form button:hover{
    color: #484747;
    cursor: pointer;
    box-shadow: inset 10px 10px 15px #c7c4c4, inset -10px -10px 15px #fff;
}
.login-form span{
    color: #999;
    font-size: 16px;
    display: block;
}
.login-form span a{
    text-decoration: none;
}
.login-form span a:hover{
    color: blue;
}